<h1>see all resources:</h1>

<h2><%= link_to 'Add resource', new_submission_path %></h2>

<h2>Not a member? <%= link_to 'Sign Up!', new_user_path %></h2>

<% @submission.each do |submission| %>
  <ul>
    <li>
      <%= link_to submission.title, submission.url, target:"_blank" %>
    </li>
  </ul>

<div class="cast_vote">
   <%= render partial: "votes/form", layout: false, locals: { submission: submission, vote: submission.votes.new } %>

  <span class='tally'></span>
</div>




<div class="add_comment">
  <%= link_to "Add a Comment", "#", remote: true, class: "new-comment" %>
  <%= render partial: "comments/form", layout: false, locals: { submission: submission, comment: submission.comments.new } %>
</div>

<div class="comments" id="comment-list-<%= submission.id %>">
  <%= render partial: "comments/list", layout: false, locals: { submission: submission } %>
</div>
<% end %>